
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <!-- left column -->
      <h1>
        Trips you're planning
      </h1>

      <% Trip.where(:user_id => @current_user.id).each do |trip| %>

      <div class="row">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="/trips/<%=trip.id%>"><%=trip.name %></a>
              <small>
                updated <%= time_ago_in_words(trip.updated_at)%> ago
              </small>
              <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
                <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow"> <i class="fa fa-trash-o"></i>
                </a>
              </a>
            </h3>

          </div>

          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Trip Creator:</dt>
              <dd><%=User.find_by(:id => trip.user_id).username %></dd>

              <dt>Destination</dt>
              <dd><%= trip.destination %></dd>

              <dt>Start date</dt>
              <dd><%= trip.start_date %></dd>

              <dt>End date</dt>
              <dd><%= trip.end_date %></dd>

              <dt>Description</dt>
              <dd><%= trip.description %></dd>

            </dt>

            <dt>Trip Participants:</dt>
            <dd><ul>
              <% trip.participants.each do |participant| %>
              <li>
                <small>
                  <%=User.find_by(:id => participant.user_id).username %>
                </small>
              </li>
              <% end %> <!--closes loop on listing all trip participants -->
            </ul></dd>

          </div>       <!-- closes panel body  -->
        </div>     <!-- closes panel -->

      </div>    <!-- closes row -->
      <% end %> <!-- closes the full loop -->

    </div>


    <div class="col-md-offset-2 col-md-5">
      <!-- right column -->

      <h1>Trips you're participating in</h1>
      <% @trips_participating_in.each do |trip| %>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="/trips/<%=trip.id%>"><%=trip.name %></a>
              <small>
                updated <%= time_ago_in_words(trip.updated_at)%> ago
              </small>
              <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
            </h3>
          </div>

          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Trip Creator:</dt>
              <dd><%=User.find_by(:id => trip.user_id).username %></dd>

              <dt>Destination</dt>
              <dd><%= trip.destination %></dd>

              <dt>Start date</dt>
              <dd><%= trip.start_date %></dd>

              <dt>End date</dt>
              <dd><%= trip.end_date %></dd>

              <dt>Description</dt>
              <dd><%= trip.description %></dd>

              <!-- this requires a .each loop to show each activity in the trip -->
              <dt>Activities</dt>
              <dd><%= trip.activity_id %></dd>

            </dt>



            <dt>Trip Participants:</dt>
            <dd><ul>
              <% trip.participants.each do |participant| %>
              <li>
                <small>
                  <%=User.find_by(:id => participant.user_id).username %>
                </small>
              </li>
              <% end %> <!--closes loop on listing all trip participants -->
            </ul></dd>

          </div>       <!-- closes panel body  -->

        </div>     <!-- closes panel -->

      </div>    <!-- closes row -->

      <% end %>  <!--end ## this closes the full loop-->

    </div> <!--closes container -->
  </div>

</div>
<a href="/trips/new" class="btn btn-primary btn-lg btn-block">
  Create a new trip <i class="fa fa-plus"></i>
</a>
