<div class="container">
  <div class="row">
    <div class="col-md-5">
      <!-- left column -->
      <h1>
        Trips you're planning
        <a href="/trips/new" class="btn btn-default btn-xs btn-block">
          Create a new trip <i class="fa fa-plus"></i>
        </a>
      </h1>

      <% Trip.where(:user_id => @current_user.id).each do |trip| %>

      <div class="row">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="/trip/<%=trip.id%>"><%=trip.name %></a>
              <small>
                updated <%= time_ago_in_words(trip.updated_at)%> ago
              </small>
            </h3>
          </div>

          <div class="panel-body">
            <a href="/trips/<%=trip.id%>">
              <%=trip.name%></a>

              <% trip.participants.each do |participant| %>
              <small>
                <%=User.find_by(:id => participant.user_id).username %>
              </small>
              <% end %> <!--closes loop on listing all trip participants -->

              <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <% if trip.user_id == current_user.id %>
              <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow"> <i class="fa fa-trash-o"></i>
              </a>
              <% else %>
              <!-- if you're not the trip.user_id does not equal the current user id, then you're not the creator of hte trip and all you can do is see the page and make edits. YOu cannot detroy it.-->
              <% end %> <!-- closes if-then on edit-delete buttons -->

            </div>       <!-- closes panel body  -->
          </div>     <!-- closes panel -->

        </div>    <!-- closes row -->
        <% end %> <!-- closes the full loop -->

      </div>


      <div class="col-md-offset-2 col-md-5">
        <!-- right column -->

        <h1>Trips you're participating in</h1>
        <!-- show the trips in which the current_user is a participant, and providing the option to remove themselves from that trip -->
        <% Trip.where(:user_id => @current_user.id).each do |trip| %>

        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="/users/<%=trip.user_id%>"><%=trip.user.username %></a>
                <small>
                  <%= time_ago_in_words(trip.updated_at)%> ago (change to trip start date)
                </small>
              </h3>
            </div>

            <div class="panel-body">
              <a href="/trips/<%=trip.id%>">
                <%=trip.name%></a>

                <% trip.participants.each do |participant| %>
                <small>
                  <%=User.find_by(:id => participant.user_id).username %>
                </small>
                <% end %> <!--closes loop on listing all trip participants -->

                <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>

                <% if trip.user_id == current_user.id %>
                <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow"> <i class="fa fa-trash-o"></i>
                </a>
                <% else %>
                <!-- if you're not the trip.user_id does not equal the current user id, then you're not the creator of hte trip and all you can do is see the page and make edits. YOu cannot detroy it.-->
                <% end %> <!-- closes if-then on edit-delete buttons -->

              </div>       <!-- closes panel body  -->
            </div>     <!-- closes panel -->

          </div>    <!-- closes row -->

          <% end %>  <!--end ## this closes the full loop-->

        </div> <!--closes container -->


      </div>
    </div>
  </div>
</div>
