<div class="page-header">
  <h3>Trip #<%= @trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @trip.name %></dd>

      <dt>Destination</dt>
      <dd><%= @trip.destination %></dd>

      <dt>Start date</dt>
      <dd><%= @trip.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @trip.end_date %></dd>

      <dt>Description</dt>
      <dd><%= @trip.description %></dd>

      <!-- this requires a .each loop to show each participant in the trip -->

      <dt>Trip Participants</dt>
      <dd>
        <ul class="list-group">
          <% @trip.participants.each do |trip| %>
          <li class="list-group-item">
            <dd> loop through the trip participants here </dd>
            <%= @trip.user.first_name %> <%= @trip.user.last_name %>
          </dl>

        </a>
      </li>
      <% end %>
      <dd> loop through the trip participants here </dd>

      




      <dt>Trip Creator</dt>
      <dd><%= @trip.user.first_name %> <%= @trip.user.last_name %></dd>
    </dl>


    <div class="btn-group btn-group-justified">
      <a href="/trips" class="btn btn-primary">
        Back
      </a>
      <a href="/trips/<%= @trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_trip/<%= @trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
